---
layout: default
---

<style>
  .about a:link { color: #515151; text-decoration: none }
  .about a:visited { color: #515151; text-decoration: none }

</style>
<aside class="sidebar">
  <header>
    <div class="about">
      <div >
      <h1><a href="{{ site.baseurl }}/">Trabajos Finales</a></h2>
      <h2 ><a href="http://www.masterperiodismo.il3.ub.edu/">Máster en Periodismo BCN NY</a></h1>
      <h3>Edición XX</h3>
      </div>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
        <a href="http://www.masterperiodismo.il3.ub.edu/"><img style="width: 81%; float:left;" src="{{site.baseurl}}/assets/img/il3ub.png" ></a>
        <a href="https://journalism.columbia.edu/"><img style="width: 19%; float: right;" src="{{site.baseurl}}/assets/img/CJS.gif" ></a>
    </section> <!-- End Section Contact -->
    <div class="copyright">
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
